* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Letra tamaño */
html {
    font-size: 10px;
}

/* Fondo de pagina */
.fondo {
    background-color: #E5E8E8;
}
/* Fin fondo de pagina */

/*Tamaño logo*/
.image {
    width: 10%;
    height: auto;
}
/*Fin logo*/

/* Header-secciones */
header nav ul li {
    padding: 8px 12px;
    border-radius: 5px;
}

header nav ul li:hover {
    background-color: #00f365;
    transition: 1s;
    font-size: 1.5rem;
}

header {
    display: flex;
}

.inicios {
    text-decoration: none;
    color: black;
}

.padre{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:  rgba(46, 204, 113 , .33);
}

.beneficios{
        display:flex;
        align-content:flex-start;
        justify-content: center;
        width: 95%;
        font-style: italic;
        font-size: 4.5rem;
        text-align: center;
        margin:0 auto;
        margin-top: 50px;
        background-color: #53e08e;
        border:2px solid white;
        border-radius: 22px;
        padding: 10px;
}

.parr{
    text-align:center;
    font-size: 18px;
    margin: 0 15px;
    margin-bottom: 50px;
}
/* fin header */

/* Fuente encabezado */
.container-encabezado {
    width: 100%;
}
.encabezado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    background-color: #2ECC71;
    padding: 4%;
}

.encabezado li {
    margin: 10px;
}

/* Fuente de Inicio */
.detalle {
    display: flex;
    flex-direction: row-reverse;
}


.principal {
    font-weight: bold;
    list-style: none;
    text-align: center;
    font-size: 18px;
}
/* Fin de la fuente */

/* Producto */
.letra {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}
.posicion {
    display: flex;
    justify-content: center;
}
.medio {
    display: flex;
    justify-content: space-evenly;
}
.medio div img{
    width: 250px;
    height: 250px;
}
/* Fin producto */

/* Promociones */
.promocio1 {
    width: 90%;
}
.promocio2 {
    width: 70%;
}
.promocion3 {
    width: 90%;
}
/* Fin promocion */

/* footer */
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    background-color: #2ECC71;
}
.div2 {
    align-self: flex-end;
    justify-self: end;
    width: 100px;
}
.div2 ul li {
    width: 100px;
}
.div2 ul {
    display: flex;
    flex-direction: column;
}
.div3 ul li {
    display: flex;
    justify-content: center;
}
.div1 ul li {
    display: flex;
    justify-content: center;
}
.medio-pago {
    font-size: 1.5rem;
}
.medio-envio {
    font-size: 1.5rem;
}
.redes {
    font-size: 2rem;
}
.envio-color {
    background-color: #fff;
}

/* Medios de pago y envios */
.visa {
    width: 50%;
    height: 70%;
}
.mastercard {
    width: 50%;
}
.mercadopago {
    width: 50%;
}
.naranja {
    width: 80%;
}
.cencosud {
    width: 50%;
}
.nativa {
    width: 100%;
}
.pago-facil {
    width: 50%;
}
.rapipago {
    width: 50%;
}
.oca {
    width: 100%;
}
.andreani {
    width: 40%;
}
.correo {
    width: 40%;
    height: 80%;
}

/* Contacto */
.color {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.facebook {
    width: 20%;
}
.instagram {
    width: 20%;
}
.whatsapp { 
    width: 20%;
}
/* Fin contacto */
/* fin footer */

/* Contacto */

@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;700 & display=swap');

.body-contacto {
    background-color: #2ECC71;
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.form {
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em
}

.form_container {
    display: grid;
    gap: 1em;
}

.form_title {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 1.4em;
}

.form_input {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form_input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 1.5em;
}

.form__cta {
    background-color: #089fe0;
    color: #fff;
    border: none;
    padding: .7em 0;
}


/* Media query */
/* @media screen and (max-width: 800px) {
    .image {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .container-encabezado {
        display: flex;
        justify-content: center;
    }
} */