* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.bg-arreglo {
    display: flex;
    justify-content: center;
    background-color: #2ECC71;
}

.card {
    background: linear-gradient(145deg, #92918ff8, #ffffff);
    box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff;
}

.unidades {
    color: #53e08e;
}

button, input, optgroup, select, textarea {
    font-size: inherit;
    line-height: inherit;
    font-size: 1.5rem;
}

.cantidad  {
    text-align: center;
    padding: 0.5rem 0;
    width: 20%;
    border: 2px solid #aaa;
    border-radius: 10%;
}

/* Letra tamaño */
html {
    font-size: 10px;
}

/* Fondo de pagina */
.fondo {
    background-color: rgba(231, 244, 235);
}
/* Fin fondo de pagina */

/*Tamaño logo*/
.image {
    width: 10%;
    height: auto;
}
/*Fin logo*/

/* Header-secciones */
header nav ul li {
    padding: 8px 12px;
    border-radius: 5px;
}

header nav ul li:hover {
    background-color: #00f365;
    transition: 1s;
    font-size: 1.5rem;
}

header {
    background-color: #2ECC71;
    display: flex;
}

.inicios {
    text-decoration: none;
    color: black;
}

.padre{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:  rgba(46, 204, 113 , .33);
}

.beneficios{
        display:flex;
        align-content:flex-start;
        justify-content: center;
        width: 95%;
        font-style: italic;
        font-size: 4.5rem;
        text-align: center;
        margin:0 auto;
        margin-top: 50px;
        background-color: #53e08e;
        border:2px solid white;
        border-radius: 22px;
        padding: 10px;
}

.parr{
    text-align:center;
    font-size: 18px;
    margin: 0 15px;
    margin-bottom: 50px;
}
/* fin header */

/* Fuente encabezado */
.container-encabezado {
    width: 100%;
}
.encabezado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    padding: 3%;
}

.encabezado li {
    margin: 10px;
}


.detalle {
    display: flex;
    flex-direction: row-reverse;
}

/* Fuente de Inicio */

/* Fin de la fuente */

/* Producto */
.letra {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}
.posicion {
    display: flex;
    justify-content: center;
}
.medio {
    display: flex;
    justify-content: space-evenly;
}
.medio div img{
    width: 250px;
    height: 250px;
}
/* Fin producto */

/* Promociones */
.promocio1 {
    width: 90%;
}
.promocio2 {
    width: 70%;
}
.promocion3 {
    width: 90%;
}
/* Fin promocion */

/* Seccion Ubicacion */
#ubicacion {
    display: flex;
    justify-content: flex-start;
}

.principal {
    font-weight: bold;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    }
/* footer */
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: #2ECC71;
}
.div2 {
    align-self: flex-end;
    justify-self: end;
    width: 155px;
    text-decoration: none;
    color: black;
}

.div2 ul li a {
    text-decoration: none;
    color: black;
}

.div2 ul li {
    display: flex;
    justify-content: space-around;
    width: 100px;
    font-size: 2.5rem;
}
.div2 ul {
    display: flex;
    flex-direction: column;
}
.div3 ul li {
    display: flex;
    justify-content: center;
}
.div1 ul li {
    display: flex;
    justify-content: center;
}
.medio-pago {
    font-weight: 600;
    font-size: 1.5rem;
}
.medio-envio {
    font-weight: 600;
    font-size: 1.5rem;
}
.envio-color {
    background-color: #fff;
}

/* Medios de pago y envios */
.visa {
    width: auto;
    height: 25px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.mastercard {
    width: auto;
    height: 35px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.mercadopago {
    width: auto;
    height: 45px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.naranja {
    width: auto;
    height: 35px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.cencosud {
    width: auto;
    height: 35px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.nativa {
    width: auto;
    height: 35px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.pago-facil {
    width: auto;
    height: 35px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.rapipago {
    width: auto;
    height: 45px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.oca {
    width: auto;
    height: 65px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.andreani {
    width: auto;
    height: 55px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}
.correo {
    width: auto;
    height: 55px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}

/* Contacto */
.color {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.facebook {
    width: 35%;
}
.instagram {
    width: 35%;
}
.whatsapp { 
    width: 35%;
}
/* Fin contacto */
/* fin footer */

/* Contacto */

@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;700 & display=swap');

.body-contacto {
    background-color: #2ECC71;
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.form {
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em
}

.form_container {
    display: grid;
    gap: 1em;
}

.form_title {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 1.4em;
}

.form_input {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form_input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 1.5em;
}

.form__cta {
    background-color: #089fe0;
    color: #fff;
    border: none;
    padding: .7em 0;
}
/* Fin contacto */

/* Media query */
/* @media screen and (max-width: 800px) {
    .image {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .container-encabezado {
        display: flex;
        justify-content: center;
    }
} */



